/* .item-list-container {
  height: calc(100% - 56px);
} */

.item-list-container .item-list-container__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.item-list-container .item-list-container__title span {
  border-bottom: 2px solid #ff9800;
}
