.cart-view-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-view-box .cart-view-left {
  width: 56%;
}

.cart-view-box .cart-view-right {
  width: 40%;
  background: white;
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 20px;
}

.cart-view-box .cart-view-right form .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.cart-view-box .cart-view-right form .input-group label {
  margin-bottom: 2px;
}

.cart-view-box .cart-view-right form .input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-view-box .cart-view-right form .input-group input.invalid {
  border: 1px solid red;
}

.cart-view-box .cart-view-right form .input-group p {
  font-size: 12px;
  color: red;
}

.cart-view {
  background: white;
  padding: 15px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.cart-view-empty {
  text-align: center;
  width: 100%;
}

.cart-view-empty p {
  margin-bottom: 20px;
}

.cart-view .cart-view-img {
  margin-right: 10px;
}

.cart-view .cart-view-img img {
  width: 80px;
  border-radius: 10px;
}

.cart-view .cart-view-detail {
  width: 100%;
}

.cart-view .cart-view-detail h2 {
  font-size: 28px;
  line-height: 42px;
}

.cart-view .cart-view-price {
  width: 100%;

  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-view .cart-view-price span {
  position: absolute;
  top: 6px;
  right: 5px;
  font-weight: bold;
  color: white;
  background: #ff5c5c;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;
}

.cart-view .cart-view-price span:hover {
  color: #ff5c5c;
  background: white;
  border: 1px solid #ff5c5c;
  cursor: pointer;
}

.cart-view-total {
  text-align: right;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-view-btn-order {
  font-weight: 500 !important;
}
